.HB {
    background-color: rgb(183, 68, 87);
    color: pink;
}
body {
    background-size: cover;
    background-position: center;
}
.aty {
    background-color: rgb(183, 68, 87);
    color: pink;
}